body {
    background-image: url(irudiak/imagen\ de\ fondo\ de\ pagina.jpg); 
    
    filter: hue-rotate();
}

.span1 {
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 2em;
    
}

.span1:hover {
    
    filter: hue-rotate(45 deg);
    transition: 1s;
}

.span2{
    background-color: rgba(255, 255, 255, 0.73);
    border-radius: 2em;
    padding: 1em;
    height: 20em;
}


img {
    width: 5em;
    margin-left: .2em;
}

hr {
    height: .25em;
    background-color: black ;
        
}

button {
    background-color: rgb(197, 197, 197);
    border-radius: 1em;
    padding: 1em;
    
}

button:hover {
    background-color: rgb(156, 156, 156);
    border-radius: 1em;
    padding: 1em;
}

